body {
  margin: 0;
  padding: 0;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 0px;
  background-color: rgba(255, 255, 255, 0.9);
}

.form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
}

.form-label {
    float: left;
    width: 150px;
    font-weight: bold;
    margin-right: 10px;
}

.form-input {
    width: 180px;
    padding: 5px;
    margin-bottom: 10px;
}

.int-input {
    width: 100px;
}

.str-input {
    width: 225px;
}

.submit-button {
  display: block;
  width: 50%;
  height: 40px;
  background-color: #1e62d8;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.result {
  width: 410px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;  
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}
